@media (min-width: 1px) and (max-width: 900px) {

  .content {
    display: flex;
    flex-direction: column;

    /*display: grid;*/
    /*grid-template-rows: 80vmax 650px 80vmax;*/
    /*grid-template-columns: unset;*/
    /*grid-row-gap: 50px;*/
    /*padding: 100px 20px;*/
  }

  .slider-container {
    margin-bottom: 29px;
  }

  .datalist-container {
    margin-bottom: 29px;
  }

  .shellfish-container {
    margin-bottom: 20px;
  }

  .slider {
    touch-action: none;
  }
  .slider-wrapper {
    width: unset;
    height: 450px;
  }
  .counter-value {
    font-size: 26px;
  }
  .bet-amount-container {
    grid-template-columns: 165fr 58fr 58fr
  }
  .bet-amount-btc-input {
    width: 60%;
  }
  .bets-row {
    grid-template-columns: 10fr 7fr;
  }
  .bets-row>span:nth-child(2) {
    display: none;
  }
  .bets-row>span:nth-child(3) {
    display: none;
  }
  .datalist-container {
    padding-top: 10%;
  }
  .bets-list {
    height: 80%;
  }
  .bets-items {
    padding-top: 5%;
    margin-bottom: 10%;
  }
  .modal {
    position: fixed;
    touch-action: none;
    align-items: start;
    z-index: 3000;
  }
  .modal-inner {
    z-index: 2000;
    width: 100%;
    height: 30%;
    color: white;
    opacity: 99%;
  }
  .modal-header>img{
    display: none;
  }
  .claws-wrapper>img:first-child{
    width: 34vw;
  }
  .claws-wrapper>img:last-child{
    width: 40vw;
  }
  .slider {
    width: 70px;
  }
  .image-wrapper {
    /*height: 10vmax;*/
    /*width: 15vmax;*/
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .bets-row {
    grid-template-columns: 20% 25% 19% 20%;
  }
}

@media (min-width: 900px) and (max-height: 900px) {
  .datalist-container {
      padding-top: 30px;
  }
  .content {
    grid-auto-rows: 86vh;
    padding-top: 60px;
  }
  .bets-list {
    margin: auto 0;
    /*height: 95%;*/
    overflow-y: scroll;
  }
  .bets-items {
    padding-top: 5%;
    padding-bottom: 0;
    font-size: 10px;
    grid-row-gap: 5px;
  }
  .bets-data-row {
    margin-bottom: 4px;
  }
  .bets-row.bets-header {
    z-index: 999;
  }
  .bets-header {
    font-size: 10px;
  }
  .image-wrapper {
    /*height: 10vmin;*/
    /*width: 15vmin;*/

  }
  .counter-value {
    font-size: 16px;
  }
  .slider {
    width: 70px;
  }
  .slider-value {
    font-size: 30px;
  }
  .slider-wrapper {
    width: 160px;
  }
}

